*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/*CSS Header.php*/

.navH{
   
    
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
   
   
}

.title{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 20px;
}

.title span{
    color: darkorange;
}

.titleFooter{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

.titleFooter span{
    color: darkorange;
}

.poss{
    margin-left: 20px;
    
}

.mar-icon{
    margin-right: 10px;
    margin-bottom: 5px;
}
.mar{
    margin-right: 8px;
}









.ftmar{
    margin-top: 75%;
}

.c-item{
    height: 490px;
    
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media screen and (max-width:770px){
    .carousel-desk{
        display: none;
    }
    .wrap-title h{
        position: absolute;
        z-index: 99;
    }
}
@media screen and (min-width:770px){
    .carousel-mobile{
        display: none;
    }
}
.slide-container{
  
    max-width: 1460px;
    width: 100%;
    background-color: #efefef;
    padding: 30px 0 30px 0;
   
   
}
.card-images{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    

}

.card-images .card-im{
    height: 100%;
    width: 100%;
   
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px #4070fa;
}

.slider{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    margin: 20px 50px 0 50px;
    border-radius: 40px;
    
    
}
.crd{
    border-radius: 25px;
    background-color: #fff;
    width: 320px;
    margin: 0 0 0 13px;
   
   
}
.image-content,
.crd-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
   
    
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0px;
}

.slide-content{
    margin: 0px 40px;
}

.nama{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.des-content{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.booking-button-slider{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070fa;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.booking-button-slider:hover{
    background-color: #265df2;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070fa;
    top: 0;
    left: 0;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070fa;

}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.landHome{
    background-color: #fff;
}

.subtitle-home{
    margin: 20px 0 20px 50px;

}

.kat{
    text-align: center;
    height: 40px;
    width: 300px;
   
    margin: 10px 20px 10px 10px;
   
    
}
.row{
    justify-content: center;
    margin: 40px 0 30px 0;
    background-color: #efefef;
    margin: 20px 50px 0 50px;
    border-radius: 20px 20px 0 0;
    padding: 20px;

}

.subtitle-home{
    padding:30px 10px 0px 40px ;
    margin: 0 50px 20px 50px;
    
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.ik{
    margin: 0 0 0 10px;
}

.link-kat{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;

}

@media screen and(max-width :700px) {
    .row{
        justify-content: left;
    }
    
}

.colm-photo1{
    margin: 0;
    padding: 0;
    height: 450px;
}
.colm-photo2{
    
    margin: 0;
    padding: 0;
   height: 300px;
}
.colm-photo3{
    
    margin: 0;
    padding: 0;
   height: 300px;
}
.text-galeri{
    
    margin: 0;
    padding: 0;
   height: 200px;
   width: 683px;
   margin-left: 685px;
   margin-top: -200px;   
   background-color: #265df2;
}


.r-photo{
    
    border-radius: 0px;
}
.galeri-home{
    height: 100%;
    object-fit: cover;
   
}
.dis-elem{
    background-color: #efefef;
    margin: 20px 50px 0 50px;
}
.elemt{
    display: inline-block;
    padding: 20px;

}